:root {
    --max-width: 1280px;
    --min-width: 320px;
    --accent-color: #00c2ff;
}

* { box-sizing: border-box;}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.menuList__item a {
    text-decoration: none;
    color: white;
}

.containerMain {
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: var(--min-width);
    background-image: url(./img/backgroundImg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* Header */
.cabeza, .content, .footer {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.cabeza {
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    border: 1px solid white;
    background-color: white;
    border-radius: 10% / 50%;
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
}

.logo, img {
    margin-right: 1rem;
}

.menuList {
    margin: 0;
}

.menuList__item {
    display: inline-block;
    margin: 0 .5rem;
    font-size: 24px;
}

.menuList__item:last-child {
    margin-right: 0;
}

.btnPropio {
    background-color: var(--accent-color);
    padding: 1rem 2rem;
    font-size: 24px;
    border-radius: 10% / 50%;
}


/* Content */
.content {
    max-width: var(--max-width);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.content__claim {
    font-size: 64px;
    color: var(--accent-color);
    margin: 0;
}

.content__subclaim {
    font-size: 36px;
    margin: .5rem 0;
    margin-bottom: 2rem;
}


/* Footer */
.footerDiv {
    background-color: black;
}

.footer {
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;
}

.footer__widget {
    font-size: 24px;
}

.footer__widget__title{
    color: var(--container-color);
    margin: 0 0 1rem 0;
}

.footer__widget__text {
    margin: 0;
}

/* Pagina jugar */
.conteinerPlay {
    color: rgb(19, 18, 18);
    height: auto;
    display: flex;
    flex-direction: column;
    min-width: var(--min-width);
    background-image: url(./img/fondoCreacionPj.jpg); /* COMENTAR ESTA LINEA SI NO SE VISUALIZA LA TABLA CORRECTAMENTE */
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.container {
    background-color: aliceblue;
    border-radius: 3%;
    opacity: 0.89;
    width: 100%;
    height: 100%;
    position: relative;
}

.menuTitle {
    text-align: center;
}