body {
    margin: 0;
    padding: 0;
}


nav ul li{
    list-style-type: none;
    display: inline-flex;
    align-items: flex-end;
    justify-content: end;
    margin: 15px;
    padding: 10px;
}

main {
    display: grid;
    justify-content: center;
    align-content: center;
}

footer ul li {
    list-style-type: none;
    display: inline-block;
    margin: 15px;
    padding: 10px;
}
